.flex {
    display: flex
  }
  
  .flex-1 {
    flex: 1 1 0%
  }
  
  .items-center {
    align-items: center
  }
  
  .justify-center {
    justify-content: center
  }
  
  .text-blue-400 {
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity))
  }
  